<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    引入bootstrap的css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" th:href="@{/css/signin.css}" rel="stylesheet"/>

</head>
<body>

<div class="jumbotron">
    <div class="container">
        <h1>登录成功</h1>
        <p>jenkins测试完成</p>
        <p><a class="btn btn-primary btn-lg" href="/index" role="button">点击返回登录页</a></p>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>